<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>relay</title>
    <link rel="stylesheet" href="/static/css/style.css?v=4">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body>
    <div class="app-layout">
        <aside class="sidebar">
            <div class="sidebar-header">relay</div>
                <nav class="sidebar-nav">
                    <div class="nav-label">Categories</div>
                        <div id="sidebar-categories"
                            hx-get="/api/categories"
                            hx-trigger="load"
                            hx-target="#sidebar-categories"
                            hx-swap="innerHTML">
                        </div>
                </nav>
                <button class="nav-add-btn" onclick="addCategory()">+ Add category</button>
        </aside>
        <main class="content">
            <header class="content-header">
                <h1>All actions</h1>
                <div class="header-actions">
                    <input
                        type="text"
                        id="search-input"
                        class="search-input"
                        placeholder="Search actions..."
                        oninput="filterCards(this.value)"
                    />
                    <button class="theme-toggle" onclick="
                        document.body.classList.toggle('theme-one-dark');
                        if (document.body.classList.contains('theme-one-dark')) {
                            localStorage.setItem('theme', 'one-dark');
                        } else {
                            localStorage.removeItem('theme');
                        };
                    ">◐</button>
                </div>
            </header>
            <div class="action-list" 
                id="action-list"
                hx-get="/api/actions/cards"
                hx-trigger="load"
                hx-target="#action-list"
                hx-swap="innerHTML">
            </div>
        </main>
    </div>
<script src="/static/js/main.js"></script>
<script>
    if (localStorage.getItem('theme') === 'one-dark') {
        document.body.classList.add('theme-one-dark');
    }
    selectCategory(document.querySelector('.nav-item.active'))
</script>
</body>
</html>